.main-font {
    font-family: 'Noto Sans', sans-serif;
}

.wrapper {
    width: 700px;
    margin: 0 auto;
}

.step-container {
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.step-container:after {
    content: "";
    visibility: hidden;
    display: block;
    height: 0;
    clear: both;
}

.title {
    text-align: center;
    color: white;
    background: deeppink;
    font-family: 'Lobster', cursive;
}

.subtitle {
    text-align: center;
    color: deeppink;
    font-family: 'Lobster', cursive;
}

.ingredients {
    list-style-type: square;
}

.main-image {
    width: 700px;
    border-radius: 20px;
}

.step-image {
    margin-right: 10px;
    float: left;
}

.step-text {
    vertical-align: middle;
}

.footnote {
    text-align: center;
    font-size: 0.8em;
}
